$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-back: #ececec;

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin fontstitle {
  font-family: "Shrikhand", cursive;
}

@mixin fontstext {
  font-family: "Roboto", sans-serif;
}

@mixin fontstext_bold {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

@mixin btn_background {
  background: rgb(147, 86, 220);
  background: linear-gradient(
    0deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 70%
  );
}

* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
  @include fontstext;
}

.header {
  &__logo {
    @include fontstitle;
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 5%;
  background-color: $color-back;
  box-shadow: 1px 20px 20px -20px rgb(0 0 0 / 57%) inset;
  @include fontstext_bold;
  &__text {
    margin-left: 10px;
  }
}

.principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5%;
  &__title {
    @include reset;
  }
}