@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.load {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  z-index: 1;
  -webkit-animation: disappear 500ms linear;
          animation: disappear 500ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  transform-origin: top;
}
.load .ball {
  z-index: 1;
  height: 50px;
  width: 50px;
  background-color: #9356dc;
  margin: 10px;
  border-radius: 50%;
  -webkit-animation: loader infinite 0.3s alternate;
          animation: loader infinite 0.3s alternate;
}

@-webkit-keyframes disappear {
  to {
    transform: scale(0);
  }
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@-webkit-keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
.fa-heart {
  font-size: 25px;
  position: absolute;
  right: 30px;
  top: 220px;
}
.fa-heart:hover {
  -webkit-animation: heart-boom 2s ease 0s 1 normal forwards;
          animation: heart-boom 2s ease 0s 1 normal forwards;
  font-weight: 800;
  cursor: pointer;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@-webkit-keyframes heart-boom {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.5);
    transform-origin: center center;
  }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
  60% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(1.12);
  }
  67% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1.04);
  }
  83% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(1.15);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}

@keyframes heart-boom {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.5);
    transform-origin: center center;
  }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
  60% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(1.12);
  }
  67% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1.04);
  }
  83% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(1.15);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}
@-webkit-keyframes rotation-check {
  from {
    transform: rotate(-190deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotation-check {
  from {
    transform: rotate(-190deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes menu-anim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes menu-anim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.menu__content:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.menu__content:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menu__content:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

p, h3 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

body {
  font-family: "Roboto", cursive, sans-serif;
}
@media (min-width: 900px) {
  body {
    width: 100%;
    margin: auto;
  }
}

.btn__holder {
  text-align: center;
}
.btn__holder .btn {
  width: 230px;
  border-radius: 25px;
  padding: 15px;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 70%);
}
.btn__holder .btn:hover {
  box-shadow: 10px 10px 18px 1px rgba(0, 0, 0, 0.58);
  filter: brightness(1.1);
}

.line {
  border: solid #99e2d0;
  width: 50px;
}

header {
  display: flex;
  justify-content: center;
}
header .header__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 3rem;
}

.fa-arrow-left {
  position: absolute;
  left: 10px;
  top: 20px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.content .content__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #ececec;
  box-shadow: 1px 20px 20px -20px rgba(0, 0, 0, 0.57) inset;
}
.localisation__text {
  margin-left: 10px;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  color: white;
  padding: 25px;
}
footer .footer__list {
  list-style: none;
  padding: 0px;
}
footer .footer__logo {
  font-family: "Shrikhand", sans-serif;
}
footer .footer__link {
  color: white;
}

.restaurant {
  width: 100%;
  padding: 20px;
  background: #ececec;
}
.restaurant__title {
  padding: 15px;
}

.cards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 990px) {
  .cards {
    flex-direction: row;
    justify-content: space-around;
  }
}
.cards .card__img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.cards .card__nouveau {
  background: #99e2d0;
  color: #528d7e;
  padding: 5px;
  position: absolute;
  top: 1%;
  right: 3%;
}
.cards .card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
}
@media (min-width: 990px) {
  .cards .card {
    width: 25%;
  }
}
.cards .card__content {
  background: white;
  border-radius: 0px 0px 25px 25px;
  padding: 15px;
}
.cards .card__content .card__title {
  margin: 0px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  background-color: #ececec;
  border-radius: 28px 28px 0px 0px;
  max-width: 1000px;
  position: relative;
  top: -30px;
}
.menu .fa-heart {
  position: unset;
}

.img-menu {
  border-radius: 0px;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__content {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  -webkit-animation: menu-anim 2s;
          animation: menu-anim 2s;
}
.menu__content .price__check {
  display: flex;
  align-items: center;
  height: 100%;
  width: 0px;
  border-radius: inherit;
  background-color: #99e2d0;
}
.menu__content .fa-check {
  color: #99e2d0;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  padding: 3px;
}
.menu__content:hover {
  cursor: pointer;
}
.menu__content:hover .price__check {
  width: 60px;
  transition: width 0.5s;
}
.menu__content:hover .fa-check {
  -webkit-animation: rotation-check 0.5s ease-in-out;
          animation: rotation-check 0.5s ease-in-out;
}

.menu__title {
  font-family: "Roboto", cursive, sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.05rem;
}

.menu__txt {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.intro__title {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
@media (min-width: 990px) {
  .fonctionnement {
    text-align: center;
  }
}

.number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  left: -10px;
  text-align: center;
}

.fonctionnement__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto;
}
.fonctionnement__list .fonctionnement__listli {
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.23);
  background-color: white;
  width: 250px;
  position: relative;
}
.fonctionnement__list .fonctionnement__listli:hover {
  background-color: #e4d5f6;
  cursor: pointer;
}
.fonctionnement__list .fonctionnement__listli:before {
  display: inline-block;
}/*# sourceMappingURL=main.css.map */