@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

header {
  align-items: center;
  position: relative;
  i.fa-arrow-left {
    position: absolute;
    left: 10px;
    top: 20px;
  }
}

p, h3 {
  @include reset;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__img {
  border-radius: 0px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  background-color: $color-back;
  border-radius: 28px 28px 0px 0px;
  max-width: 1000px;
  position: relative;
  top: -30px;
  i.fa-heart {
    position: unset;
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  .content__title {
    font-family: $font-title;
    font-weight: 100;
  }
}

.line {
  border: solid $color-tertiary;
  width: 50px;
}

.article {
  @include center;
  flex-direction: column;
  
}

.menu__content {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  animation: menu-anim 2s;
  .price__check {
    display: flex;
    align-items: center;
    height: 100%;
    width: 0px;
    border-radius: inherit;
    background-color: $color-tertiary;
  }
  .fa-check {
    color: $color-tertiary;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    padding: 3px;
  }
  &:hover {
    cursor: pointer;
    .price__check {
      width: 60px;
      transition: width 0.5s;
    }
    .fa-check {
      animation: rotation-check 0.5s ease-in-out;
    }
  }
}

@keyframes rotation-check {
  from {
    transform: rotate(-190deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes menu-anim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.menu__title {
  font-family: $font-text;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.05rem;
}

@for $i from 1 through 3 {
  .menu__content:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
  }
}

.menu__txt {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
}

.btn__holder {
  text-align: center;
}

