@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin fontstext_bold {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

@mixin btn_background {
  background: linear-gradient(
    0deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 70%
  );
}

@mixin text-cut {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}