.localisation {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: $color-back;
    box-shadow: 1px 20px 20px -20px rgb(0 0 0 / 57%) inset;
    &__text {
      margin-left: 10px;
    }
  }